<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RodriguesPhone</title>
</head>
<body>
    

    <h1>aqui iremos fazer a pagina para entrar em contato com a gente pra reportar algum problema sla ou com o dono da Loja</h1>
    
</body>
</html>