<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RodriguesPhone</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="img/logoloja.jpg" alt="Logo da Loja">
        </div>
        <ul>
            <li><a href="/">Início</a></li>
            <% if (nomeUsuario) { %>
                <li><a href="/celulares">Loja</a></li>
                <li><a href="/contato">Entre em Contato</a></li>
            <% } else { %>
                <li><a href="/cadastro">Loja</a></li>
                <li><a href="/cadastro">Entre em Contato</a></li>
            <% } %>
        </ul>
        <div class="icons">
            <% if (nomeUsuario) { %>
                <a href="/carrinho"><i class="fas fa-shopping-cart"></i></a>
                <a href="/favoritos"><i class="far fa-heart"></i></a>
            <% } else { %>
                <a href="/cadastro"><i class="fas fa-shopping-cart"></i></a>
                <a href="/cadastro"><i class="far fa-heart"></i></a>
            <% } %>
        </div>

        <div class="user-actions">
            <% if (nomeUsuario) { %>
                <!-- Verifique se o usuário é um administrador -->
                <% if (tipo===1) { %>
                    <!-- Se for um administrador, exiba opções específicas -->
                    <div class="dropdown">
                        <button class="dropbtn">Bem-vindo, <%= nomeUsuario %>!</button>
                        <div class="dropdown-content">
                            <a href="/produtos">Produtos Cadastrados</a>
                            <a href="/paineladmin">Página de Administrador</a>
                            <a href="/logout">Sair</a>
                        </div>
                    </div>
                    <% } else { %>
                        <!-- Se for um usuário comum, exiba opções padrão -->
                        <div class="dropdown">
                            <button class="dropbtn">Bem-vindo, <%= nomeUsuario %>!</button>
                            <div class="dropdown-content">
                                <a href="/carrinho">Carrinho</a>
                                <a href="/celulares">Loja</a>
                                <a href="/logout">Sair</a>
                            </div>
                        </div>
                        <% } %>
                            <% } else { %>
                                <a href="/cadastro" class="btn-cadastro">Cadastre-se ou faça login</a>
                                <% } %>
        </div>

        <div class="theme-switch">
            <a href="#" id="theme-toggle" onclick="toggleTheme()" class="btn-themetoggle">Mudar tema</a>
        </div>

        <div class="search">
            <form action="/pesquisar" method="GET">
                <!-- Alteração: Adiciona o formulário e define a rota de pesquisa -->
                <input type="text" placeholder="Pesquisar" name="q"> <!-- Alteração: Adiciona o atributo 'name' -->
                <button type="submit">Buscar</button>
            </form>
        </div>
    </nav> <br><br><br><br><br><br><br><br><br><br><br>    <!-- improvisei aqui, ja ta servindo-->
  


        <center><h2>Serviços</h2></center>
      <div class="rounded-boxes">
        <a href="/celulares" class="rounded-box">Celulares</a>
        <a href="/acessorios" class="rounded-box">Acessórios</a>
        <a href="/smartwatch" class="rounded-box">SmartWatch</a>
        <a href="/orcamento" class="rounded-box">Faça seu orçamento</a>
    </div> <hr>

        <center><h2>Entre em contato ou faça seu orçamento!</h2></center>
        <div class="rounded-boxes">
        <a href="/contato" class="rounded-box"> Entre em contato</a>
        <a href="https://www.instagram.com/_rodriguesphone?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="rounded-box" target="_blank">Instagram</a>
        <a href="/orcamento" class="rounded-box"> Orçamento</a>
        </div>

    

    <script src="/js/home.js"></script>
</body>
</html>