<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RodriguesPhone</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <img src="img/logoloja.jpg" alt="Logo da Loja">
    </div>
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/cadastre-se">Loja</a></li>
        <li><a href="/cadastre-se">Entre em Contato</a></li>
    </ul>
    <div class="icons">
        <a href="/cadastre-se"><i class="fas fa-shopping-cart"></i></a>
        <a href="/cadastre-se"><i class="far fa-heart"></i></a>
    </div>

    <div class="user-actions">
        <% if (nomeUsuario) { %>
          <p>Bem-vindo, <%= nomeUsuario %>!</p>
        <% } else { %>
          <a href="/cadastro" class="btn-cadastro">Cadastre-se ou faça login</a>
        <% } %>
    </div>

    <div class="search">
        <input type="text" placeholder="Pesquisar">
        <button type="submit">Buscar</button>
    </div>
</nav>

<div class="container">
    <div class="card-section">
        <h2>Produtos mais procurados</h2>
        <div class="card-container">
            <!-- Card 1 -->
            <div class="card">
                <img src="img/foto1.jpg" alt="iPhone 1">
                <h3>Iphone 11 128GB</h3>
                <a href="/cadastre-se">Ver mais</a>
            </div>
            <!-- Card 2 -->
            <div class="card">
                <img src="img/foto1.jpg" alt="iPhone 1">
                <h3>Nome do iPhone 2</h3>
                <a href="/cadastre-se">Ver mais</a>
            </div>
            <!-- Adicione mais cards conforme necessário -->
        </div>
    </div>

    <div class="card-section">
        <h2>Mais vendidos</h2>
        <div class="card-container">
            <!-- Card 1 -->
            <div class="card">
                <img src="img/foto1.jpg" alt="iPhone 1">
                <h3>Nome do produto 1</h3>
                <a href="/cadastre-se">Ver mais</a>
            </div>
            <!-- Card 2 -->
            <div class="card">
                <img src="img/foto1.jpg" alt="iPhone 1">
                <h3>Nome do produto 2</h3>
                <a href="/cadastre-se">Ver mais</a>
            </div>
            <!-- Adicione mais cards conforme necessário -->
        </div>
    </div>
</div>

</body>
</html>